* {

	box-sizing: border-box;

}

.page-header {

	text-align: center;
	color: yellow;
	
}

body {


	background-image: url('https://i.ytimg.com/vi/uBjbe3UBg6U/maxresdefault.jpg');
	background-repeat: no-repeat;

}


